{% extends "imagersite/base.html" %}
{% block body %}
<div class="meta">
  <h2>Albums</h2>
    <ul>
      {% for album in albums %}
      <li class="albums">
        <h4>{{ album.title }}</h4>

        <a href="{% url 'albums' album.pk %}">
          {% if album.cover %}
            <img class="thumb" src="{{ album.cover.photo.url }}">
          {% else %}
           {% load static %}
            <img class="thumb" src="{% static 'images/tanyastree.jpeg' %}">
          {% endif %}
        </a>

        </li>
        {% endfor %}
    </ul>

  <h2>Photos</h2>
    <ul>
      {% for photo in photos %}
      <li class="photos">
        <h4>{{ photo.title }}</h4>
        <a href="{% url 'photos' photo.pk %}">
          <img class="thumb" src="{{ photo.photo.url }}">
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}
